
<a href="https://gitlab.com/neiljackson1984/2017-12-11_auburn_dairy/raw/COMMIT/delivered/2018-01-18/main_sheet_set.pdf">Pdf of the drawings</a><br/>
<a href="https://gitlab.com/neiljackson1984/2017-12-11_auburn_dairy/raw/COMMIT/delivered/2018-01-18/2018-01-18_etransmittal.zip">Autocad transmittal </a><br/>
<a href="https://gitlab.com/neiljackson1984/2017-12-11_auburn_dairy/repository/COMMIT/archive.zip">One big zip file &lpar;contains all of the above and more - if you download this one file, you will have it all&rpar;</a><br/>